html {
  position: relative;
  min-height: 100%;
}


.header{
	background-color:#53abff;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	height: 60px;
}

.title{
	font-family: 'Sniglet', cursive;
	font-weight: bold;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	background-color: #53abff;
}

body{
	background-color:#fff;
}

.footer > p{
	font-size: 9px;
}

.container{
	width: 95%;
}

.login-container {
	margin: 0 auto;
	width: 400px;
}

.loginInput{
	width:300px;
}

.active{
  color: #53abff;
  border-bottom: 5px solid #53abff;
}

.unreadEmail{
	background-color:#e6f2fe;
}

#notifier{
	color:#f00;
	font-weight:bold;
}

#username{
	float:right;
	color:#828282;
	font-weight:bold;
}

.content{
	border:1px solid #c5c5c5;
	padding-left:5px;
	padding-right:5px;
	height:300px;
}

.emailField{
	width:100%
}