

<script>

	// Login Handler

	$( document ).ready(function() {
		
		// Display Inbox
		getEmails(1);
	});
	
	function getEmailSummary(){
		
		// Hide all counts
		$("#menu1").html('<a href="#" onclick="getEmails(1)">Inbox</a>');
		$("#menu2").html('<a href="#" onclick="getEmails(2)">Sent</a>');
		$("#menu3").html('<a href="#" onclick="getEmails(3)">Drafts</a>');
		$("#menu4").html('<a href="#" onclick="getEmails(4)">Trash</a>');
		
		var URL = serviceURL + "/Lagmail_email_action/summary?userID=" + localStorage.getItem('userID');
		$.ajax({
			type: "GET",
			url: URL,
			success: function(data) {
				
				for(var i = 0; i < data.summary.length; i++){
				
					switch(parseInt(data.summary[i].emailStatusID)){
					
						case 1:
							$("#menu1").html('<a href="#" onclick="getEmails(1)">' + data.summary[i].status + ' <span style="float:right;" class="badge">' + data.summary[i].count + '</span></a>');
							break;
							
						case 2:
							$("#menu2").html('<a href="#" onclick="getEmails(2)">' + data.summary[i].status + ' <span style="float:right;" class="badge">' + data.summary[i].count + '</span></a>');
							break;
							
						case 3:
							$("#menu3").html('<a href="#" onclick="getEmails(3)">' + data.summary[i].status + ' <span style="float:right;" class="badge">' + data.summary[i].count + '</span></a>');
							break;
							
						case 4:
							$("#menu4").html('<a href="#" onclick="getEmails(4)">' + data.summary[i].status + ' <span style="float:right;" class="badge">' + data.summary[i].count + '</span></a>');
							break;
					}
				}
			}
		 });
	}
	
	function getEmails(emailStatusID){
		
		getEmailSummary();
		
		var URL = serviceURL + "/Lagmail_email_action/listForStatus?userID=" + localStorage.getItem('userID') + "&emailStatusID=" + emailStatusID;
		$.ajax({
			type: "GET",
			url: URL,
			success: function(data) {
				
				var emailList = '<table class="table table-sm"><tbody>';
				for(var i = 0 ; i < data.emails.length; i++){
				
					var emailDate = new Date(Date.parse(data.emails[i].timestamp));
					var displayDate = emailDate.getDate() + "/" + (emailDate.getMonth() + 1) + "<h6>" + (emailDate.getHours() + 1) + ":" + (emailDate.getMinutes() + 1) + "</h6>";
					
					emailList += '<tr' + (data.emails[i].emailRead == 0 ? ' class="unreadEmail"' : '') + '><td style="width:10px;">' + (emailStatusID == 2 || emailStatusID == 3 ? data.emails[i].to : data.emails[i].from) + '</td><td><a href="#" onclick="' + (emailStatusID == 3 ? 'showDraft(' + data.emails[i].emailAssignmentID + ')' : 'displayEmail(' + data.emails[i].emailAssignmentID + ')' ) + '">' + data.emails[i].subject + '<p style="font-size:11px;">' + data.emails[i].content + '</p></a></td><td style="width:20px;">' + displayDate + '</td></tr>';
				}
				
				emailList += '</tbody></table>'
				$('#emailList').html(emailList);
				
				// Highlight menu item
				$('.nav li.active').removeClass('active');
				$('#menu' + emailStatusID).addClass("active");
				
				// Close modal if open
				$('#composeModal').modal('hide');
			}
		 });
	}
	
	function showCompose(){
		
		// Add values from Draft
		$("[name='to']").val("");
		$("[name='from']").val(localStorage.getItem('username') + "@lagmail.com");
		$("[name='subject']").val("");
		$("[name='contentEditable']").html("");
		$('[name="userID"]').val(localStorage.getItem('userID'));
		$('[name="emailID"]').val(0);
		$('[name="emailAssignmentID"]').val(0);
		$('[name="attachment"]').val("");
		$('#attachmentList').html("");
		
		showComposeDialogue(false);
	}
	
	function showDraft(emailAssignmentID){
		
		var URL = serviceURL + "/Lagmail_email_action/details?emailAssignmentID=" + emailAssignmentID;
		$.ajax({
			type: "GET",
			url: URL,
			success: function(data) {
			
				// Add values from Draft
				$("[name='to']").val(data.email.to);
				$("[name='from']").val(localStorage.getItem('username') + "@lagmail.com");
				$("[name='subject']").val(data.email.subject);
				$("[name='contentEditable']").html(data.email.content);
				$('[name="emailID"]').val(data.email.emailID);
				$('[name="userID"]').val(localStorage.getItem('userID'));
				$('[name="emailAssignmentID"]').val(data.email.emailAssignmentID);
				
				var attachmentData = "";
				var existingAttachmentList = [];
				for(var i = 0; i < data.email.attachments.length; i++){
				
					attachmentData += '<li class="list-group-item"><a href="#" onclick="deleteAttachment(' + data.email.attachments[i].emailAttachmentID + ')">X</a> | <a target="_blank" href="' + data.email.attachments[i].attachmentURL + '">' + data.email.attachments[i].attachmentURL + '</a></li>';
					existingAttachmentList.push(data.email.attachments[i].emailAttachmentID) ;
				}
				$('#attachmentList').html(attachmentData);
				$("[name='existingAttachments']").val(JSON.stringify(existingAttachmentList));
				$('[name="attachment"]').val("");
				
				showComposeDialogue(true);
			}
		 });
	}
	
	function emailRespond(emailAssignmentID, isForward){
		
		var URL = serviceURL + "/Lagmail_email_action/details?emailAssignmentID=" + emailAssignmentID;
		$.ajax({
			type: "GET",
			url: URL,
			success: function(data) {
				
				// Create GMail like formatting for forwarded and replied emails
				var constructedContent = 'On ' + data.email.timestamp + ', ' + data.email.from + ' wrote:</br>' + 
					'<table border="0">' + 
					'<td rowspan="2" style="text-align:left;vertical-align:top;padding-left:15px;border-left:solid 1px #9c9c9c;">' + 
					data.email.content +
					'</td>' + 
					'</table>';
				
				$("[name='to']").val((isForward == true ? "" : data.email.from));
				$("[name='from']").val(localStorage.getItem('username') + "@lagmail.com");
				$("[name='subject']").val((isForward == true ? "FWD: " : "") + data.email.subject);
				$("[name='contentEditable']").html(constructedContent);
				$('[name="emailID"]').val(0);
				$('[name="userID"]').val(localStorage.getItem('userID'));
				$('[name="emailAssignmentID"]').val(0);
				
				// Add attachments, if forward
				if(isForward){
					var attachmentData = "";
					var existingAttachmentList = [];
					for(var i = 0; i < data.email.attachments.length; i++){
					
						attachmentData += '<li class="list-group-item"><a target="_blank" href="' + data.email.attachments[i].attachmentURL + '">' + data.email.attachments[i].attachmentURL + '</a></li>';
						existingAttachmentList.push(data.email.attachments[i].emailAttachmentID) ;
					}
					$('#attachmentList').html(attachmentData);
					$("[name='existingAttachments']").val(JSON.stringify(existingAttachmentList));
				} else {
					$('#attachmentList').html("");
					$("[name='existingAttachments']").val();
				}
				$('[name="attachment"]').val("");
				
				showComposeDialogue(false);
			}
		 });
	}
	
	function showComposeDialogue(showDeleteButton){
	
		$("#emailControls").show();
		$("#emailStatus").hide();
		
		if(showDeleteButton == true)
			$("#deleteDraftBtn").show();
		else
			$("#deleteDraftBtn").hide();
		
		// Load HTML editor
		// $('#content').summernote();
		
		// Show Modal
		$('#composeModal').modal();
	}
	
	function validateEmail(value) {
		var regex = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
		return (regex.test(value)) ? true : false;
	}

	function validateEmails(string) {
		
		var result = string.replace(/\s/g, "").split(/,|;/);
		for(var i = 0;i < result.length;i++) {
			if(!validateEmail(result[i])) {
				return false;
			}
		}
		return true;
	}
	
	function sendEmail(){
	
		// Do validations
		// Check for Email validity
		if($('[name="to"]').val().length > 3) {
		
			if(validateEmails($('[name="to"]').val()) == true) {
			
				// Check for subject 
				if($('[name="to"]').val().length > 3) {
				
					// Check for body
					if($('[name="to"]').val().length > 3) {
					
						// Reset from value to ensure user has not changed the same from debugger / console
						$('[name="from"]').val(localStorage.getItem('username') + "@lagmail.com");
						$('[name="userID"]').val(localStorage.getItem('userID'));
						$('[name="content"]').val($('[name="contentEditable"]').html());
						
						// Send Email
						if (typeof FormData !== 'undefined') {

							// send the formData
							var formData = new FormData( $("#emailData")[0] );
							
							var URL = serviceURL + "/Lagmail_email_action/sendEmail";
							$.ajax({
								type: "POST",
								url: URL,
								data: formData,
								async : false,
								cache : false,
								contentType : false,
								processData : false,
								success: function(data) {
									
									// Display Inbox
									getEmails(2);
									
								}
							});
						 
						} else {
						   message("Your Browser Don't support FormData API! Use IE 10 or Above!");
						}  
						
					
					} else {
						
						$("#emailStatus").show();
						$("#emailStatusText").text("Please fill email body before sending");
					}
				} else {
				
					$("#emailStatus").show();
					$("#emailStatusText").text("Please enter email subject before sending");
				}
			} else {
				
				$("#emailStatus").show();
				$("#emailStatusText").text("Invalid email address(es) entered");
			}
		} else {
		
			$("#emailStatus").show();
			$("#emailStatusText").text("Please fill recipients email address before sending");
		}
	}
	
	function saveDraft(){
		
		// Reset from value to ensure user has not changed the same from debugger / console
		$('[name="from"]').val(localStorage.getItem('username') + "@lagmail.com");
		$('[name="userID"]').val(localStorage.getItem('userID'));
		$('[name="content"]').val($('[name="contentEditable"]').html());
		
		if (typeof FormData !== 'undefined') {

			// send the formData
			var formData = new FormData( $("#emailData")[0] );
			
			var URL = serviceURL + "/Lagmail_email_action/saveDraft";
			$.ajax({
				type: "POST",
				url: URL,
				data: formData,
				async : false,
				cache : false,
				contentType : false,
				processData : false,
				success: function(data) {
					
					// Display Draft
					getEmails(3);
					
				}
			});
		 
		} else {
		   message("Your Browser Don't support FormData API! Use IE 10 or Above!");
		}  
	}
	
	function displayEmail(emailAssignmentID){
		
		var URL = serviceURL + "/Lagmail_email_action/details?emailAssignmentID=" + emailAssignmentID;
		$.ajax({
			type: "GET",
			url: URL,
			success: function(data) {
			
				// Show buttons if not trash'd email
				var buttonData = '<button style="float:right" onclick="deleteEmail(' + emailAssignmentID + ')"> Delete </button>' +
					'<button style="float:right" onclick="markUnread(' + emailAssignmentID + ')"> Mark as Unread </button>' + 
					'<button style="float:right" onclick="emailRespond(' + emailAssignmentID + ', true)"> Forward </button>' + 
					'<button style="float:right" onclick="emailRespond(' + emailAssignmentID + ', false)"> Reply </button>';
			
				// Contruct HTML for attachments
				var attachmentData = '<ul class="list-group">';
				var existingAttachmentList = [];
				for(var i = 0; i < data.email.attachments.length; i++){
				
					attachmentData += '<li class="list-group-item"><a target="_blank" href="' + data.email.attachments[i].attachmentURL + '">' + data.email.attachments[i].attachmentURL + '</a></li>';
					existingAttachmentList.push(data.email.attachments[i].emailAttachmentID) ;
				}
				attachmentData += "</ul>";
				
				// Construct email HTML
				var emailData = (data.email.emailStatusID == 4 ? '' : buttonData) +
					'<h3>' + data.email.subject + '</h3>' +
					'<p><b>From:</b>' + data.email.from + '</p>' +
					'<p><b>To:</b>' + data.email.to + '</p>' +
					'<p><b>Date:</b>' + data.email.timestamp + '</p>' +
					'<hr>' +
					attachmentData +
					'<hr>' +
					'<p>' + data.email.content + '</p>';
				
				$('#emailList').html(emailData);
			}
		});
	}
	
	function markUnread(emailAssignmentID){
	
		var URL = serviceURL + "/Lagmail_email_action/markUnread";
		$.ajax({
			type: "POST",
			url: URL,
			data: "emailAssignmentID=" + emailAssignmentID,
			success: function(data) {
			
				alert("Email marked as unread");
			}
		});
	}
	
	function deleteDraft(){	
		deleteEmail($('[name="emailAssignmentID"]').val());
	}
	
	function deleteEmail(emailAssignmentID){
		
		var URL = serviceURL + "/Lagmail_email_action/deleteEmail";
		$.ajax({
			type: "POST",
			url: URL,
			data: "emailAssignmentID=" + emailAssignmentID,
			success: function(data) {
			
				// Show trash'd emails
				getEmails(4);				
			}
		});
	}
	
	function deleteAttachment(emailAttachmentID){
		
		var URL = serviceURL + "/Lagmail_email_action/deleteAttachment";
		$.ajax({
			type: "POST",
			url: URL,
			data: "emailAttachmentID=" + emailAttachmentID,
			success: function(data) {
			
				// Show trash'd emails
				getEmails(3);				
			}
		});
	}

</script>

<hr>
<div class="col-sm-12">
	<div class="col-sm-2">
		<ul class="nav nav-stacked">
			<li role="email" id="menu1" class="active"><a href="#" onclick="getEmails(1)">Inbox</a></li>
			<li role="email"><a href="#" onclick="showCompose()">Compose</a></li>
			<li role="email" id="menu3"><a href="#" onclick="getEmails(3)">Drafts</a></li>
			<li role="email" id="menu2"><a href="#" onclick="getEmails(2)">Sent</a></li>
			<li role="email" id="menu4"><a href="#" onclick="getEmails(4)">Trash</a></li>
		</ul>
	</div>
	<div class="col-sm-10" id="emailList">
		
	</div>
</div>

<!-- Modal -->
<div id="composeModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<form id="emailData" enctype="multipart/form-data" accept-charset="utf-8">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Compose Email</h4>
				</div>
				<div class="modal-body">
					<table class="table table-sm">
						<tbody>
							<tr>
								<td>To:</td>
								<td><input class="emailField" type="text" name="to"></input></td>
							</tr>
							<tr>
								<td>From:</td>
								<td><input class="emailField" type="text" name="from" readonly></input></td>
							</tr>
							<tr>
								<td>Subject</td>
								<td><input class="emailField" type="text" name="subject"></input></td>
							</tr>
							<tr>
								<td>Body</td>
								<td>
									<div name="contentEditable" class="emailField content" contenteditable="true"></div>
									<input type="hidden" name="content" value=""></input>
								</td>
							</tr>
							<tr>
								<td>Attachments</td>
								<td>
									<input class="emailField" name="attachment" type="file" /></input></br>
									<ul id="attachmentList" class="list-group">
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<input type="hidden" name="userID" value="0"></input>
					<input type="hidden" name="emailID" value="0"></input>
					<input type="hidden" name="emailAssignmentID" value="0"></input>
					<input type="hidden" name="existingAttachments" value=""></input>
				</div>
			</form>
				<div id="emailControls" class="modal-footer">
					<button class="small" onclick="sendEmail()">Send Email</button> <button class="small" onclick="saveDraft()">Save as Draft</button> <button id="deleteDraftBtn" class="small" onclick="deleteDraft()">Delete Draft</button>
				</div>
				<div id="emailStatus" class="modal-footer">
					<span id="emailStatusText" class="notifier"></span>
				</div>
			
		</div>

	</div>
</div>
