<div class="login-container">
	<b>Login to access your account</b>
	</br></br>
	<form name="login" id="login">
		<input type="text" name="username" class="loginInput"> @lagmail.com</br></br>
		<input type="password" name="password" class="loginInput"></br></br>
		<input type="submit" value="Login"></br></br>
		<span id="notifier"></span>
		</br></br>
	</form>
</div>

<script>

	// Login Handler

	$("#login").submit(function( event ) {
		
		if ( $("[name='username']").val().length > 0 && $("[name='password']").val().length > 0 ) {
			
			var URL = serviceURL + "/Lagmail_users/login";
			$.ajax({
				type: "POST",
				url: URL,
				data: $("#login").serialize(), // serializes the form's elements.
				success: function(data) {
					
					if(data.users.length > 0){
						
						$("#notifier").text("Logging in...").show().fadeOut(3000);
						
						localStorage.setItem('userID', data.users[0].userid);
						localStorage.setItem('username', data.users[0].username);
						
						location.reload();
						
					} else {
						$("#notifier").text("Invalid Credentials Entered").show().fadeOut(3000);
					}
				}
			 });
			
			
		} else {
			$("#notifier").text("Credentials not entered").show().fadeOut(3000);
		}
		
		event.preventDefault();
	});

</script>